body {
    margin: 0;
    background: #e0f7fa;
}

main {
    margin: 10px auto;
    width: 1200px;
}

section {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article {
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    background: #00acc1;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}

.addPhone .addTitle {
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    width: 90%;
    background: #fdd835;
    display: inline-block;
}

.addPhone .addTitle h2 {
    font-size: inherit;
}

.addPhone .addBody {
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    padding: 10px;
    width: 90%;
    background: #fdd835;
    margin-top: 10px;
    box-sizing: border-box;
}

.addPhone .addBody input {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.addPhone .addBody #desc {
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    border-radius: 10px;
    outline: none;
}

.addPhone .addButton {
    margin: 10px 0 10px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    text-align: right;
}

.addPhone .addButton button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    background: #fdd835;
    outline: none;
}

.phones {
    width: 55%;
}

.phones .phone {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 120px;
    background: #fdd835;
}

.phones .phone img {
    margin: 5px;
    width: 100px;
}

.phones .phone .detailsBtn {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    color: white;
    background: #00acc1;
    outline: none;
}

.description {
    word-wrap: break-word;
}

.description .phoneHeader {
    text-align: left;
    position: relative;
}

.description .phoneHeader img {
    width: 50%;
}

.description .phoneHeader .phoneInfo {
    border-radius: 10px;
    position: relative;
    right: -22px;
    box-sizing: border-box;
    font-weight: normal;
    width: 40%;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    background: #fdd835;
}

.description .phoneHeader .phoneInfo p {
    margin: 0;
}

.description .descriptionInfo {
    border-radius: 10px;
    margin-top: 10px;
    background: #fdd835;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

.contextMenu {
    display: none;
    border-radius: 10px;
    position: absolute;
    width: 90px;
    height: 80px;
    background: #fdd835;
}

.contextMenu .contextHover {
    padding: 5px;
    cursor: pointer;
}

.contextMenu .contextHover:hover {
    background: #00acc1;
    color: white;
}

.active {
    display: block;
}
